{% extends "layout.html" %}

{% block headline %}
<h1>Template</h1>
{% endblock headline %}

{% block content %}
<p>現在の混雑状況（直近 n 分）</p>
<p>混雑予想</p>
<p>現在の混雑状況を教えてください。</p>
<form method="post">
    <input type="radio" name="state" value="1" required>閑散
    <input type="radio" name="state" value="2" required>普通
    <input type="radio" name="state" value="3" required>混雑
    <input type="submit" value="vote">
</form>
{% endblock content %}

{% block ver %}
{{ ver }}
{% endblock ver %}