<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>食堂混雑予想</title>
</head>

<body>
    <h1>食堂混雑状況</h1>
    <hr>
    <h3>現在の混雑状況</h3>
    <p>現在の混雑状況（直近10分の平均）：{{ avg }}</p>
    <br>
    <h3>混雑予想（直近の投稿に基づく）</h3>
    <p>{{ trend }}</p>
    <br>
    <h3>混雑予想（過去の同曜日の投稿に基づく）</h3>
    <p></p>
    <br>
    <h3>現在の混雑状況を教えてください。</h3>
    <form method="post">
        <input type="radio" name="state" value="1" required> 空いてる
        <input type="radio" name="state" value="2" required> 普通
        <input type="radio" name="state" value="3" required> 混んでる
        <input type="submit" value="投票">
    </form>
    <hr>
    <footer>
        programmed by pantsman | {{ ver }}
    </footer>
</body>

</html>